{% extends 'base.html'%}

{% block title %}
    {{ blog.title }}
{% endblock %}
{% block content%}
    <hr>
    {% for blog in blogs %}
    <a href="{% url 'blog_detail' blog.pk %}">
        <h3>博客名字：{{ blog.title }}</h3>
    </a>
    <p>博客内容：{{ blog.content | truncatechars:30}} </p>
    {% empty %}
    <p>----暂时没有博客 敬请期待更新---</p>
    {% endfor %}
    <p>一共有{{ blogs|length }} 篇博客 </p>

<div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
    <div class="panel panel-default">
        <div class="panel-heading">博客分类</div>
        <div class="panel-body">
            <ul class="blog-types">
                {% for blog_type in blog_type %}
                <li>
                    <a href="{% url 'blog_with_type' blog_type.pk %}">

                        {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                    </a>
                </li>
                {% empty %}
                <li>暂无分类</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">日期归档</div>
        <div class="panel-body">
            <ul>
                {% for blog_date, blog_count in blog_dates.items %}
                <li>
                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                        {{ blog_date|date:"Y年m月" }} ({{ blog_count }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}





<!--<!DOCTYPE html>-->
<!--<html lang="zh-cn">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>测试网站</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
    <!--<a href="{% url 'blog_list' %}">-->
        <!--<h3>博客 all</h3>-->
    <!--</a>-->
<!--</div>-->
<!--<hr>-->
<!--{% for blog in blogs %}-->
<!--<a href="{% url 'blog_detail' blog.pk %}">-->
    <!--<h3>博客名字：{{ blog.title }}</h3>-->
<!--</a>-->
<!--<p>博客内容：{{ blog.content | truncatechars:30}} </p>-->
<!--{% empty %}-->
<!--<p>&#45;&#45;&#45;&#45;暂时没有博客 敬请期待更新-&#45;&#45;</p>-->
<!--{% endfor %}-->
<!--<p>一共有{{ blogs|length }} 篇博客 </p>-->
<!--</body>-->
<!--</html>-->




