{% extends 'base.html' %}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

<!--引入静态资源文件-->
{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}


{# 页面内容 #}

{% block content %}
<div class="container">
    <div class="row">
        <!--偏移一列-->
        <div class="col-xs-10 col-xs-offset-1">

            <h3>标题：{{ blog.title}}</h3>
            <hr>
            <ul class="blog-info-description">
                <li>作者：{{ blog.author}}</li>
                <!--对应每个blog_type对象取得对应的pk值-->
                <li>文章类型：<a href="{% url 'blog_with_type' blog.blog_type.pk %}"> {{ blog.blog_type }} </a></li>
                <li>发表日期：{{ blog.created_time|date:"Y-m-d G:i:s "}}</li>
            </ul>

            <div class="blog-content">文章内容：{{ blog.content}}</div>



        </div>
    </div>
</div>



{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>{{ blog.title }}</title>-->
<!--</head>-->
<!--<body>-->

<!--<div>-->
<!--<a href="{% url 'blog_list' %}">-->
<!--<h3>所有博客</h3>-->
<!--</a>-->
<!--</div>-->

<!--<h2>文章标题：{{ blog.title}}</h2>-->
<!--<hr>-->
<!--<p>作者：{{ blog.author}}</p>-->
<!--<p>文章内容：{{ blog.content}}</p>-->
<!--<p>文章类型：<a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type}}</a></p>-->
<!--<p>创建日期：{{ blog.created_time|date:"Y-m-d G:i:s "}}</p>-->

<!--</body>-->
<!--</html>-->